body {
    background-color: #b9d3da;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #cbffeb;
}

p {
    color: #cbffeb;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.section {
    position: relative;
    margin-top: 40px;
    display: block;
    width: 60%;
    height: 500px;
    margin-left: 20%;
    border: 2px solid #355764;
    background-color: #355764;
    border-radius: 10px;
    box-shadow: 0px 3px 5px black;

}

.nav {

    height: 130px;
    width: 60%;
    margin-left: 20%;
    margin-top: 35px;
    border-radius: 10px;
    position: relative;
    background-color: #355764;
    box-shadow: 0px 3px 5px black;
}

.nav-bar {
    display: inline-block;
    position: absolute;
    left: 30%;
    top: 32%;
    width: 70%;
}

.nav-bar-list 
{
    text-align: center;
    
}

.nav-bar-list-item {

    margin-left: 40px;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    background-color: #5A8F7B;
    border: 2px solid #355764;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 3px 5px black;
}

.logo {
    text-align: center;
    margin: 47px 45px;
    width: 20%;
    display: inline-block;
   
}

.logo-item {

    box-shadow: 0px 3px 5px black;
    border-radius: 10px;
    font-size: 28px;
    cursor: pointer;
    padding: 15px;
    background-color: #5A8F7B;
    color: #cbffeb;
    border: 2px solid #355764;
}

.logo-item:hover {
    background-color: #355764;
    transition: 0.3s;
    transform: scale(1.1);
    
}
.logo:hover
{
    transition: 0.3s;
    transform: scale(1.1);
   
}
.nav-bar-list-item:hover {
    transform: scale(1.1);
    background-color: #355764;
    transition: 0.3s;
}
/* ------------HOME BLOCK---------------*/
.home-section {
    padding: 45px;
    line-height: 25px;
}

.home-header {
    color: #cbffeb;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.home-info {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.date-time {
    font-size: 14px;
    opacity: 0.8;
    position: absolute;
    left: 85%;
    top: 90%;

}